/* Style for the prompt input */
#prompt-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    min-height: 20px;
    color: #333;
    overflow: auto;
    background-color: #f5f5f5;
    border: 1px solid #d3d3d3;
}

#prompt-input:focus {
    outline: none !important;
}
